{
  "openapi": "3.0.3",
  "info": {
    "title": "FineoPay PSP API",
    "version": "1.0.0",
    "description": "API FineoPay PSP (Payment Service Provider) — Payments, Transfers, Webhooks, Transactions (aligned with Postman collection)"
  },
  "servers": [
    {
      "url": "https://psp-api.fineopay.com/api/v1",
      "description": "Production / Live"
    }
  ],
  "tags": [
    {
      "name": "Payments"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Balance"
    },
    {
      "name": "System"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health Check",
        "description": "Check API health status (no authentication required)",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "tags": ["Payments"],
        "summary": "List Payments",
        "description": "Retrieve payments with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "description": "Items per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/payments/initiate": {
      "post": {
        "tags": ["Payments"],
        "summary": "Initiate Payment",
        "description": "Initiate a payment (OTP or in_app workflow).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInitiateRequest"
              },
              "examples": {
                "otp": {
                  "summary": "OTP workflow",
                  "value": {
                    "merchantReference": "order-123",
                    "amount": 5000,
                    "currency": "XOF",
                    "channel": "mtn_momo",
                    "country": "CI",
                    "customer": {
                      "phoneNumber": "+2250700000000",
                      "email": "customer@example.com",
                      "name": "John Doe"
                    },
                    "workflow": "otp",
                    "description": "Payment for order #123",
                    "metadata": {
                      "orderId": "123"
                    },
                    "otp": ""
                  }
                },
                "in_app": {
                  "summary": "In-app workflow",
                  "value": {
                    "merchantReference": "order-124",
                    "amount": 5000,
                    "currency": "XOF",
                    "channel": "wave",
                    "country": "CI",
                    "customer": {
                      "phoneNumber": "+2250700000000",
                      "email": "customer@example.com",
                      "name": "John Doe"
                    },
                    "workflow": "in_app",
                    "successRedirectUrl": "https://myapp.com/payment/success",
                    "failedRedirectUrl": "https://myapp.com/payment/failed",
                    "description": "Payment for order #124",
                    "metadata": {
                      "orderId": "124"
                    }
                  }
                },
                "no_workflow": {
                  "summary": "No workflow (legacy)",
                  "value": {
                    "merchantReference": "order-125",
                    "amount": 5000,
                    "currency": "XOF",
                    "channel": "orange_money",
                    "country": "CI",
                    "customer": {
                      "phoneNumber": "+2250700000000",
                      "email": "customer@example.com",
                      "name": "John Doe"
                    },
                    "description": "Payment for order #125",
                    "metadata": {
                      "orderId": "125"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "transactionId": {
                      "type": "string"
                    },
                    "reference": {
                      "type": "string"
                    },
                    "merchantReference": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "environment": {
                      "type": "string"
                    },
                    "partner": {
                      "type": "string"
                    },
                    "partnerTransactionId": {
                      "type": "string"
                    },
                    "validationData": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/payments/{transactionId}/status": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get Payment Status",
        "description": "Get payment status by transactionId.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/transfers": {
      "get": {
        "tags": ["Transfers"],
        "summary": "List Transfers",
        "description": "Retrieve transfers with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "description": "Items per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transfer"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/transfers/initiate": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Initiate Transfer",
        "description": "Initiate a transfer.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferInitiateRequest"
              },
              "example": {
                "merchantReference": "transfer-123",
                "amount": 5000,
                "currency": "XOF",
                "channel": "mtn_momo",
                "country": "CI",
                "recipient": {
                  "phoneNumber": "+2250700000000",
                  "name": "Jane Doe"
                },
                "description": "Payout to supplier",
                "metadata": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transfer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/transfers/{transferId}/status": {
      "get": {
        "tags": ["Transfers"],
        "summary": "Get Transfer Status",
        "description": "Get transfer status by transferId.",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transfer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List Transactions",
        "description": "Retrieve transactions with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "description": "Items per page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by status"
          },
          {
            "name": "transactionType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Filter by transaction type"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Transaction",
        "description": "Get a transaction by transactionId.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create Webhook",
        "description": "Create a new webhook endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              },
              "examples": {
                "default": {
                  "summary": "Payment notifications webhook",
                  "value": {
                    "name": "Payment Notifications",
                    "webhookUrl": "https://myapp.com/webhooks/payments",
                    "eventTypes": ["payment.completed", "payment.failed"],
                    "transactionTypes": ["payment", "transfer"],
                    "isActive": true,
                    "maxRetries": 6,
                    "timeoutSeconds": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "get": {
        "tags": ["Webhooks"],
        "summary": "List Webhooks",
        "description": "Retrieve all webhooks with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "description": "Items per page"
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get Webhook",
        "description": "Get a webhook by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "patch": {
        "tags": ["Webhooks"],
        "summary": "Update Webhook",
        "description": "Update a webhook by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "eventTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "transactionTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "isActive": {
                    "type": "boolean"
                  },
                  "maxRetries": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "timeoutSeconds": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 60
                  }
                }
              },
              "example": {
                "name": "Updated Webhook Name",
                "isActive": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete Webhook",
        "description": "Delete a webhook by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/balances": {
      "get": {
        "tags": ["Balance"],
        "summary": "Get Account Balance",
        "description": "Returns balances for the account associated with the API key.",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional. Defaults to the main account linked to the API key."
          },
          {
            "name": "currencyId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional. Filter by currency UUID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Balance"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API Key"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number in E.164 format (e.g. +2250700000000)"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["phoneNumber"]
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Recipient phone number in E.164 format"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["phoneNumber"]
      },
      "PaymentInitiateRequest": {
        "type": "object",
        "properties": {
          "merchantReference": {
            "type": "string",
            "description": "Merchant reference (unique)"
          },
          "amount": {
            "type": "number",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "example": "XOF"
          },
          "channel": {
            "type": "string",
            "example": "mtn_momo"
          },
          "country": {
            "type": "string",
            "example": "CI"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "workflow": {
            "type": "string",
            "enum": ["otp", "in_app"],
            "description": "Payment workflow"
          },
          "otp": {
            "type": "string",
            "nullable": true,
            "description": "OTP value (required when workflow=otp and submitting OTP)"
          },
          "successRedirectUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "failedRedirectUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        },
        "required": ["merchantReference", "amount", "currency", "channel", "country", "customer"]
      },
      "TransferInitiateRequest": {
        "type": "object",
        "properties": {
          "merchantReference": {
            "type": "string",
            "description": "Merchant transfer id (unique)"
          },
          "amount": {
            "type": "number",
            "minimum": 1
          },
          "currency": {
            "type": "string",
            "example": "XOF"
          },
          "channel": {
            "type": "string",
            "example": "mtn_momo"
          },
          "country": {
            "type": "string",
            "example": "CI"
          },
          "recipient": {
            "$ref": "#/components/schemas/Recipient"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": ["merchantReference", "amount", "currency", "channel", "country", "recipient"]
      },
      "WebhookCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "transactionTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "maxRetries": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 3
          },
          "timeoutSeconds": {
            "type": "integer",
            "minimum": 5,
            "maximum": 60,
            "default": 30
          }
        },
        "required": ["name", "webhookUrl", "eventTypes"]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "transactionTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "maxRetries": {
            "type": "integer"
          },
          "timeoutSeconds": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "available": {
            "type": "number"
          },
          "ledger": {
            "type": "number"
          },
          "accountId": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "merchantReference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "validationData": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string"
          },
          "merchantReference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "recipient": {
            "$ref": "#/components/schemas/Recipient"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "merchantReference": {
            "type": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "payment | transfer"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}